In [1]:
# Dependencies
# Note had to run pip install poloygon-api-client
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from pprint import pprint
from datetime import date, datetime, timedelta
import time
import datetime
from dateutil.parser import parse


from config import api_key 
 
#api_key

In [2]:

#Get summary information on each company

count = 1
while count < 4:
          
    if count == 1:
        name = "AAPL"
               
    elif count == 2:
        name = "GOOG"
                
    elif count == 3:
        name = "AMZN"
        
        
    
    
    url= f"https://api.polygon.io/v3/reference/tickers/{name}?apiKey={api_key}"
    #print(url)
    #print(requests.get(url).json())
    
    response = requests.get(url).json() 
            
    print(json.dumps(response,indent=4))
     

    
    #print(response["results"]["description"])
    #print('------------------------------------')
    
    count+=1

{
    "results": {
        "ticker": "AAPL",
        "name": "Apple Inc.",
        "market": "stocks",
        "locale": "us",
        "primary_exchange": "XNAS",
        "type": "CS",
        "active": true,
        "currency_name": "usd",
        "cik": "0000320193",
        "composite_figi": "BBG000B9XRY4",
        "share_class_figi": "BBG001S5N8V8",
        "market_cap": 2502858916480,
        "phone_number": "(408) 996-1010",
        "address": {
            "address1": "ONE APPLE PARK WAY",
            "city": "CUPERTINO",
            "state": "CA",
            "postal_code": "95014"
        },
        "description": "Apple designs a wide variety of consumer electronic devices, including smartphones (iPhone), tablets (iPad), PCs (Mac), smartwatches (Apple Watch), AirPods, and TV boxes (Apple TV), among others. The iPhone makes up the majority of Apple's total revenue. In addition, Apple offers its customers a variety of services such as Apple Music, iCloud, Apple Care, Apple TV+, Apple Arcade, Apple Card, and Apple Pay, among others. Apple's products run internally developed software and semiconductors, and the firm is well known for its integration of hardware, software and services. Apple's products are distributed online as well as through company-owned stores and third-party retailers. The company generates roughly 40% of its revenue from the Americas, with the remainder earned internationally.",
        "sic_code": "3571",
        "sic_description": "ELECTRONIC COMPUTERS",
        "ticker_root": "AAPL",
        "homepage_url": "https://www.apple.com",
        "total_employees": 154000,
        "list_date": "1980-12-12",
        "branding": {
            "logo_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFwcGxlLmNvbQ/images/2022-10-01_logo.svg",
            "icon_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFwcGxlLmNvbQ/images/2022-10-01_icon.png"
        },
        "share_class_shares_outstanding": 16070750000,
        "weighted_shares_outstanding": 16070752000,
        "round_lot": 100
    },
    "status": "OK",
    "request_id": "6aa791b503944e832c38d6b9cae7ac93"
}
{
    "results": {
        "ticker": "GOOG",
        "name": "Alphabet Inc. Class C Capital Stock",
        "market": "stocks",
        "locale": "us",
        "primary_exchange": "XNAS",
        "type": "CS",
        "active": true,
        "currency_name": "usd",
        "cik": "0001652044",
        "composite_figi": "BBG009S3NB30",
        "share_class_figi": "BBG009S3NB21",
        "market_cap": 1250034940000,
        "phone_number": "650-253-0000",
        "address": {
            "address1": "1600 AMPHITHEATRE PARKWAY",
            "city": "MOUNTAIN VIEW",
            "state": "CA",
            "postal_code": "94043"
        },
        "description": "Alphabet is a holding company. Internet media giant Google is a wholly owned subsidiary. Google generates 99% of Alphabet revenue, of which more than 85% is from online ads. Google's other revenue is from sales of apps and content on Google Play and YouTube, as well as cloud service fees and other licensing revenue. Sales of hardware such as Chromebooks, the Pixel smartphone, and smart home products, which include Nest and Google Home, also contribute to other revenue. Alphabet's moonshot investments are in its other bets segment, where it bets on technology to enhance health (Verily), faster internet access to homes (Google Fiber), self-driving cars (Waymo), and more. Alphabet's operating margin has been 25%-30%, with Google at 30% and other bets operating at a loss.",
        "sic_code": "7370",
        "sic_description": "SERVICES-COMPUTER PROGRAMMING, DATA PROCESSING, ETC.",
        "ticker_root": "GOOG",
        "homepage_url": "https://www.abc.xyz",
        "total_employees": 186779,
        "list_date": "2004-08-19",
        "branding": {
            "logo_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFiYy54eXo/images/2022-10-01_logo.svg",
            "icon_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFiYy54eXo/images/2022-10-01_icon.png"
        },
        "share_class_shares_outstanding": 6086000000,
        "weighted_shares_outstanding": 12943000000,
        "round_lot": 100
    },
    "status": "OK",
    "request_id": "4a62ad2d1604d1f9f8a0343e1719fb5f"
}
{
    "results": {
        "ticker": "AMZN",
        "name": "Amazon.Com Inc",
        "market": "stocks",
        "locale": "us",
        "primary_exchange": "XNAS",
        "type": "CS",
        "active": true,
        "currency_name": "usd",
        "cik": "0001018724",
        "composite_figi": "BBG000BVPV84",
        "share_class_figi": "BBG001S5PQL7",
        "market_cap": 1053495043729.38,
        "phone_number": "(206) 266-1000",
        "address": {
            "address1": "410 TERRY AVENUE NORTH",
            "city": "SEATTLE",
            "state": "WA",
            "postal_code": "98109"
        },
        "description": "Amazon is a leading online retailer and one of the highest-grossing e-commerce aggregators, with $386 billion in net sales and approximately $578 billion in estimated physical/digital online gross merchandise volume in 2021. Retail-related revenue represents approximately 80% of the total, followed by Amazon Web Services' cloud computing, storage, database, and other offerings (10%-15%), advertising services (5%), and other. International segments constitute 25%-30% of Amazon's non-AWS sales, led by Germany, the United Kingdom, and Japan.",
        "sic_code": "5961",
        "sic_description": "RETAIL-CATALOG & MAIL-ORDER HOUSES",
        "ticker_root": "AMZN",
        "homepage_url": "https://www.amazon.com",
        "total_employees": 1608000,
        "list_date": "1997-05-15",
        "branding": {
            "logo_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFtYXpvbi5jb20/images/2022-10-01_logo.svg",
            "icon_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFtYXpvbi5jb20/images/2022-10-01_icon.jpeg"
        },
        "share_class_shares_outstanding": 10187560000,
        "weighted_shares_outstanding": 10187554818,
        "round_lot": 100
    },
    "status": "OK",
    "request_id": "f7efa60f2e1c48ea7918fa1483a7dfdf"
}

In [3]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummyd = pd.DataFrame(columns = ["ticker","c", "t"])
for name in tickers:
    url = f"https://api.polygon.io/v2/aggs/ticker/{name}/range/1/day/2012-01-01/2022-10-22?adjusted=true&sort=asc&limit=120&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"])
    datadata["ticker"] = name
    datadata = datadata[["ticker", "c", "t"]]
    dummyd = pd.concat([dummyd, datadata])
dummyd.columns = ["ticker", "close", "date"]
#print(dummyd)

In [4]:
dummyd["date"] = pd.to_datetime(dummyd["date"], unit = "ms")
dummyd["dates"] = dummyd["date"].dt.date  
dummyd.drop("date", axis=1,inplace=True)
print(dummyd)

    ticker    close       dates
0     AAPL  21.3050  2012-11-01
1     AAPL  20.6000  2012-11-02
2     AAPL  20.8793  2012-11-05
3     AAPL  20.8161  2012-11-06
4     AAPL  19.9286  2012-11-07
..     ...      ...         ...
115   AMZN  13.0160  2013-04-19
116   AMZN  13.1775  2013-04-22
117   AMZN  13.4450  2013-04-23
118   AMZN  13.4390  2013-04-24
119   AMZN  13.7350  2013-04-25

[360 rows x 3 columns]

In [5]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummym = pd.DataFrame(columns = ["ticker", "c", "t"])
for name in tickers:
    url = f"https://api.polygon.io/v2/aggs/ticker/{name}/range/1/month/2012-01-01/2022-10-22?adjusted=true&sort=asc&limit=120&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"])
    datadata["ticker"] = name
    datadata = datadata[["ticker","c", "t"]]
    dummym = pd.concat([dummym, datadata])
dummym.columns = ["ticker", "close", "date"]
print(dummym)

  ticker    close           date
0   AAPL  20.9029  1351742400000
1   AAPL  19.0062  1354338000000
2   AAPL  16.2675  1357016400000
3   AAPL  15.7643  1359694800000
4   AAPL  15.8093  1362114000000
5   AAPL  14.5850  1364788800000
0   GOOG  17.4418  1351742400000
1   GOOG  17.6668  1354338000000
2   GOOG  18.8734  1357016400000
3   GOOG  20.0100  1359694800000
4   GOOG  19.8349  1362114000000
5   GOOG  20.2073  1364788800000
0   AMZN  12.6025  1351742400000
1   AMZN  12.5435  1354338000000
2   AMZN  13.2750  1357016400000
3   AMZN  13.2135  1359694800000
4   AMZN  13.3245  1362114000000
5   AMZN  13.7350  1364788800000

In [6]:
dummym["date"] = pd.to_datetime(dummym["date"], unit = "ms")
dummym["dates"] = dummym["date"].dt.date  
dummym.drop("date", axis=1,inplace=True)
print(dummym)

  ticker    close       dates
0   AAPL  20.9029  2012-11-01
1   AAPL  19.0062  2012-12-01
2   AAPL  16.2675  2013-01-01
3   AAPL  15.7643  2013-02-01
4   AAPL  15.8093  2013-03-01
5   AAPL  14.5850  2013-04-01
0   GOOG  17.4418  2012-11-01
1   GOOG  17.6668  2012-12-01
2   GOOG  18.8734  2013-01-01
3   GOOG  20.0100  2013-02-01
4   GOOG  19.8349  2013-03-01
5   GOOG  20.2073  2013-04-01
0   AMZN  12.6025  2012-11-01
1   AMZN  12.5435  2012-12-01
2   AMZN  13.2750  2013-01-01
3   AMZN  13.2135  2013-02-01
4   AMZN  13.3245  2013-03-01
5   AMZN  13.7350  2013-04-01

In [7]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummysd20 = pd.DataFrame(columns = ["ticker", "timestamp", "value"])
for name in tickers:
    url = f"https://api.polygon.io/v1/indicators/sma/{name}?timespan=day&adjusted=true&window=20&series_type=close&order=desc&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"]["values"])
    datadata["ticker"] = name
    datadata["window"] = 20
    #datadata = datadata[[ "timestamp", "value"]]
    dummysd20 = pd.concat([dummysd20, datadata])

print(dummysd20)

  ticker      timestamp     value  window
0   AAPL  1666929600000  144.5970    20.0
1   AAPL  1666843200000  143.7200    20.0
2   AAPL  1666756800000  143.6040    20.0
3   AAPL  1666670400000  143.6285    20.0
4   AAPL  1666584000000  143.5995    20.0
5   AAPL  1666324800000  143.6655    20.0
6   AAPL  1666238400000  143.8235    20.0
7   AAPL  1666152000000  144.2910    20.0
8   AAPL  1666065600000  144.7840    20.0
9   AAPL  1665979200000  145.4415    20.0
0   GOOG  1666929600000   99.7030    20.0
1   GOOG  1666843200000   99.6815    20.0
2   GOOG  1666756800000   99.9560    20.0
3   GOOG  1666670400000  100.2520    20.0
4   GOOG  1666584000000   99.9100    20.0
5   GOOG  1666324800000   99.7020    20.0
6   GOOG  1666238400000   99.5865    20.0
7   GOOG  1666152000000   99.5885    20.0
8   GOOG  1666065600000   99.5745    20.0
9   GOOG  1665979200000   99.5965    20.0
0   AMZN  1666929600000  115.0615    20.0
1   AMZN  1666843200000  115.5410    20.0
2   AMZN  1666756800000  115.7330    20.0
3   AMZN  1666670400000  115.8505    20.0
4   AMZN  1666584000000  115.5410    20.0
5   AMZN  1666324800000  115.3075    20.0
6   AMZN  1666238400000  115.0305    20.0
7   AMZN  1666152000000  115.1335    20.0
8   AMZN  1666065600000  115.3070    20.0
9   AMZN  1665979200000  115.5985    20.0

In [8]:
dummysd20["timestamp"] = pd.to_datetime(dummysd20["timestamp"], unit = "ms")
dummysd20["dates"] = dummysd20["timestamp"].dt.date  
dummysd20.drop("timestamp", axis=1,inplace=True)
print(dummysd20)

  ticker     value  window       dates
0   AAPL  144.5970    20.0  2022-10-28
1   AAPL  143.7200    20.0  2022-10-27
2   AAPL  143.6040    20.0  2022-10-26
3   AAPL  143.6285    20.0  2022-10-25
4   AAPL  143.5995    20.0  2022-10-24
5   AAPL  143.6655    20.0  2022-10-21
6   AAPL  143.8235    20.0  2022-10-20
7   AAPL  144.2910    20.0  2022-10-19
8   AAPL  144.7840    20.0  2022-10-18
9   AAPL  145.4415    20.0  2022-10-17
0   GOOG   99.7030    20.0  2022-10-28
1   GOOG   99.6815    20.0  2022-10-27
2   GOOG   99.9560    20.0  2022-10-26
3   GOOG  100.2520    20.0  2022-10-25
4   GOOG   99.9100    20.0  2022-10-24
5   GOOG   99.7020    20.0  2022-10-21
6   GOOG   99.5865    20.0  2022-10-20
7   GOOG   99.5885    20.0  2022-10-19
8   GOOG   99.5745    20.0  2022-10-18
9   GOOG   99.5965    20.0  2022-10-17
0   AMZN  115.0615    20.0  2022-10-28
1   AMZN  115.5410    20.0  2022-10-27
2   AMZN  115.7330    20.0  2022-10-26
3   AMZN  115.8505    20.0  2022-10-25
4   AMZN  115.5410    20.0  2022-10-24
5   AMZN  115.3075    20.0  2022-10-21
6   AMZN  115.0305    20.0  2022-10-20
7   AMZN  115.1335    20.0  2022-10-19
8   AMZN  115.3070    20.0  2022-10-18
9   AMZN  115.5985    20.0  2022-10-17

In [9]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummysd50 = pd.DataFrame(columns = ["ticker", "timestamp", "value"])
for name in tickers:
    url = f"https://api.polygon.io/v1/indicators/sma/{name}?timespan=day&adjusted=true&window=50&series_type=close&order=desc&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"]["values"])
    datadata["ticker"] = name
    datadata["window"] = 50
    #datadata = datadata[[ "timestamp", "value"]]
    dummysd50 = pd.concat([dummysd50, datadata])

print(dummysd50)

  ticker      timestamp     value  window
0   AAPL  1666929600000  151.8002    50.0
1   AAPL  1666843200000  152.1684    50.0
2   AAPL  1666756800000  152.7634    50.0
3   AAPL  1666670400000  153.2370    50.0
4   AAPL  1666584000000  153.6540    50.0
5   AAPL  1666324800000  154.1070    50.0
6   AAPL  1666238400000  154.5314    50.0
7   AAPL  1666152000000  155.0484    50.0
8   AAPL  1666065600000  155.4696    50.0
9   AAPL  1665979200000  155.8920    50.0
0   GOOG  1666929600000  104.0280    50.0
1   GOOG  1666843200000  104.5136    50.0
2   GOOG  1666756800000  105.0680    50.0
3   GOOG  1666670400000  105.6218    50.0
4   GOOG  1666584000000  105.9808    50.0
5   GOOG  1666324800000  106.3744    50.0
6   GOOG  1666238400000  106.7412    50.0
7   GOOG  1666152000000  107.1436    50.0
8   GOOG  1666065600000  107.4878    50.0
9   GOOG  1665979200000  107.8228    50.0
0   AMZN  1666929600000  121.6182    50.0
1   AMZN  1666843200000  122.3960    50.0
2   AMZN  1666756800000  123.0188    50.0
3   AMZN  1666670400000  123.6012    50.0
4   AMZN  1666584000000  124.0528    50.0
5   AMZN  1666324800000  124.5274    50.0
6   AMZN  1666238400000  124.9538    50.0
7   AMZN  1666152000000  125.5026    50.0
8   AMZN  1666065600000  125.9578    50.0
9   AMZN  1665979200000  126.4188    50.0

In [10]:
dummysd50["timestamp"] = pd.to_datetime(dummysd50["timestamp"], unit = "ms")
dummysd50["dates"] = dummysd50["timestamp"].dt.date  
dummysd50.drop("timestamp", axis=1,inplace=True)
print(dummysd50)

  ticker     value  window       dates
0   AAPL  151.8002    50.0  2022-10-28
1   AAPL  152.1684    50.0  2022-10-27
2   AAPL  152.7634    50.0  2022-10-26
3   AAPL  153.2370    50.0  2022-10-25
4   AAPL  153.6540    50.0  2022-10-24
5   AAPL  154.1070    50.0  2022-10-21
6   AAPL  154.5314    50.0  2022-10-20
7   AAPL  155.0484    50.0  2022-10-19
8   AAPL  155.4696    50.0  2022-10-18
9   AAPL  155.8920    50.0  2022-10-17
0   GOOG  104.0280    50.0  2022-10-28
1   GOOG  104.5136    50.0  2022-10-27
2   GOOG  105.0680    50.0  2022-10-26
3   GOOG  105.6218    50.0  2022-10-25
4   GOOG  105.9808    50.0  2022-10-24
5   GOOG  106.3744    50.0  2022-10-21
6   GOOG  106.7412    50.0  2022-10-20
7   GOOG  107.1436    50.0  2022-10-19
8   GOOG  107.4878    50.0  2022-10-18
9   GOOG  107.8228    50.0  2022-10-17
0   AMZN  121.6182    50.0  2022-10-28
1   AMZN  122.3960    50.0  2022-10-27
2   AMZN  123.0188    50.0  2022-10-26
3   AMZN  123.6012    50.0  2022-10-25
4   AMZN  124.0528    50.0  2022-10-24
5   AMZN  124.5274    50.0  2022-10-21
6   AMZN  124.9538    50.0  2022-10-20
7   AMZN  125.5026    50.0  2022-10-19
8   AMZN  125.9578    50.0  2022-10-18
9   AMZN  126.4188    50.0  2022-10-17

In [11]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummysm20 = pd.DataFrame(columns = ["ticker", "timestamp", "value"])
for name in tickers:
    url = f"https://api.polygon.io/v1/indicators/sma/{name}?timespan=month&adjusted=true&window=20&series_type=close&order=desc&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"]["values"])
    datadata["ticker"] = name
    datadata["window"] = 20
    #datadata = datadata[[ "timestamp", "value"]]
    dummysm20 = pd.concat([dummysm20, datadata])

print(dummysm20)

  ticker      timestamp       value  window
0   AAPL  1664596800000  150.921500    20.0
1   AAPL  1662004800000  149.197500    20.0
2   AAPL  1659326400000  148.885500    20.0
3   AAPL  1656648000000  147.659000    20.0
4   AAPL  1654056000000  145.486000    20.0
5   AAPL  1651377600000  144.093000    20.0
6   AAPL  1648785600000  142.441500    20.0
7   AAPL  1646110800000  141.011000    20.0
8   AAPL  1643691600000  137.593500    20.0
9   AAPL  1641013200000  133.897500    20.0
0   GOOG  1664596800000  124.315950    20.0
1   GOOG  1662004800000  124.579100    20.0
2   GOOG  1659326400000  124.360950    20.0
3   GOOG  1656648000000  123.283150    20.0
4   GOOG  1654056000000  121.853000    20.0
5   GOOG  1651377600000  120.436900    20.0
6   GOOG  1648785600000  118.408950    20.0
7   GOOG  1646110800000  116.746075    20.0
8   GOOG  1643691600000  113.471000    20.0
9   GOOG  1641013200000  110.260475    20.0
0   AMZN  1664596800000  148.553225    20.0
1   AMZN  1662004800000  151.115050    20.0
2   AMZN  1659326400000  153.480550    20.0
3   AMZN  1656648000000  155.284375    20.0
4   AMZN  1654056000000  156.456975    20.0
5   AMZN  1651377600000  158.736850    20.0
6   AMZN  1648785600000  160.598200    20.0
7   AMZN  1646110800000  163.011525    20.0
8   AMZN  1643691600000  162.773350    20.0
9   AMZN  1641013200000  161.992250    20.0

In [12]:
dummysm20["timestamp"] = pd.to_datetime(dummysm20["timestamp"], unit = "ms")
dummysm20["dates"] = dummysm20["timestamp"].dt.date  
dummysm20.drop("timestamp", axis=1,inplace=True)
print(dummysm20)

  ticker       value  window       dates
0   AAPL  150.921500    20.0  2022-10-01
1   AAPL  149.197500    20.0  2022-09-01
2   AAPL  148.885500    20.0  2022-08-01
3   AAPL  147.659000    20.0  2022-07-01
4   AAPL  145.486000    20.0  2022-06-01
5   AAPL  144.093000    20.0  2022-05-01
6   AAPL  142.441500    20.0  2022-04-01
7   AAPL  141.011000    20.0  2022-03-01
8   AAPL  137.593500    20.0  2022-02-01
9   AAPL  133.897500    20.0  2022-01-01
0   GOOG  124.315950    20.0  2022-10-01
1   GOOG  124.579100    20.0  2022-09-01
2   GOOG  124.360950    20.0  2022-08-01
3   GOOG  123.283150    20.0  2022-07-01
4   GOOG  121.853000    20.0  2022-06-01
5   GOOG  120.436900    20.0  2022-05-01
6   GOOG  118.408950    20.0  2022-04-01
7   GOOG  116.746075    20.0  2022-03-01
8   GOOG  113.471000    20.0  2022-02-01
9   GOOG  110.260475    20.0  2022-01-01
0   AMZN  148.553225    20.0  2022-10-01
1   AMZN  151.115050    20.0  2022-09-01
2   AMZN  153.480550    20.0  2022-08-01
3   AMZN  155.284375    20.0  2022-07-01
4   AMZN  156.456975    20.0  2022-06-01
5   AMZN  158.736850    20.0  2022-05-01
6   AMZN  160.598200    20.0  2022-04-01
7   AMZN  163.011525    20.0  2022-03-01
8   AMZN  162.773350    20.0  2022-02-01
9   AMZN  161.992250    20.0  2022-01-01

In [13]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummysm50 = pd.DataFrame(columns = ["ticker", "timestamp", "value"])
for name in tickers:
    url = f"https://api.polygon.io/v1/indicators/sma/{name}?timespan=month&adjusted=true&window=50&series_type=close&order=desc&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"]["values"])
    datadata["ticker"] = name
    datadata["window"] = 50
    #datadata = datadata[[ "timestamp", "value"]]
    dummysm50 = pd.concat([dummysm50, datadata])

print(dummysm50)

  ticker      timestamp      value  window
0   AAPL  1664596800000  105.43335    50.0
1   AAPL  1662004800000  103.45670    50.0
2   AAPL  1659326400000  101.64415    50.0
3   AAPL  1656648000000   99.42530    50.0
4   AAPL  1654056000000   97.10945    50.0
5   AAPL  1651377600000   95.20135    50.0
6   AAPL  1648785600000   93.06345    50.0
7   AAPL  1646110800000   90.80105    50.0
8   AAPL  1643691600000   88.14600    50.0
9   AAPL  1641013200000   85.68975    50.0
0   GOOG  1664596800000   90.15568    50.0
1   GOOG  1662004800000   89.44227    50.0
2   GOOG  1659326400000   88.73653    50.0
3   GOOG  1656648000000   87.66918    50.0
4   GOOG  1654056000000   86.42137    50.0
5   GOOG  1651377600000   85.25125    50.0
6   GOOG  1648785600000   84.00226    50.0
7   GOOG  1646110800000   82.80766    50.0
8   GOOG  1643691600000   81.18461    50.0
9   GOOG  1641013200000   79.53319    50.0
0   AMZN  1664596800000  126.79525    50.0
1   AMZN  1662004800000  126.73976    50.0
2   AMZN  1659326400000  126.25720    50.0
3   AMZN  1656648000000  125.42160    50.0
4   AMZN  1654056000000  124.35222    50.0
5   AMZN  1651377600000  123.79415    50.0
6   AMZN  1648785600000  122.83730    50.0
7   AMZN  1646110800000  121.86412    50.0
8   AMZN  1643691600000  120.05506    50.0
9   AMZN  1641013200000  118.15327    50.0

In [14]:
dummysm50["timestamp"] = pd.to_datetime(dummysm50["timestamp"], unit = "ms")
dummysm50["dates"] = dummysm50["timestamp"].dt.date  
dummysm50.drop("timestamp", axis=1,inplace=True)
print(dummysm50)

  ticker      value  window       dates
0   AAPL  105.43335    50.0  2022-10-01
1   AAPL  103.45670    50.0  2022-09-01
2   AAPL  101.64415    50.0  2022-08-01
3   AAPL   99.42530    50.0  2022-07-01
4   AAPL   97.10945    50.0  2022-06-01
5   AAPL   95.20135    50.0  2022-05-01
6   AAPL   93.06345    50.0  2022-04-01
7   AAPL   90.80105    50.0  2022-03-01
8   AAPL   88.14600    50.0  2022-02-01
9   AAPL   85.68975    50.0  2022-01-01
0   GOOG   90.15568    50.0  2022-10-01
1   GOOG   89.44227    50.0  2022-09-01
2   GOOG   88.73653    50.0  2022-08-01
3   GOOG   87.66918    50.0  2022-07-01
4   GOOG   86.42137    50.0  2022-06-01
5   GOOG   85.25125    50.0  2022-05-01
6   GOOG   84.00226    50.0  2022-04-01
7   GOOG   82.80766    50.0  2022-03-01
8   GOOG   81.18461    50.0  2022-02-01
9   GOOG   79.53319    50.0  2022-01-01
0   AMZN  126.79525    50.0  2022-10-01
1   AMZN  126.73976    50.0  2022-09-01
2   AMZN  126.25720    50.0  2022-08-01
3   AMZN  125.42160    50.0  2022-07-01
4   AMZN  124.35222    50.0  2022-06-01
5   AMZN  123.79415    50.0  2022-05-01
6   AMZN  122.83730    50.0  2022-04-01
7   AMZN  121.86412    50.0  2022-03-01
8   AMZN  120.05506    50.0  2022-02-01
9   AMZN  118.15327    50.0  2022-01-01

In [15]:
print(dummysm20)

  ticker       value  window       dates
0   AAPL  150.921500    20.0  2022-10-01
1   AAPL  149.197500    20.0  2022-09-01
2   AAPL  148.885500    20.0  2022-08-01
3   AAPL  147.659000    20.0  2022-07-01
4   AAPL  145.486000    20.0  2022-06-01
5   AAPL  144.093000    20.0  2022-05-01
6   AAPL  142.441500    20.0  2022-04-01
7   AAPL  141.011000    20.0  2022-03-01
8   AAPL  137.593500    20.0  2022-02-01
9   AAPL  133.897500    20.0  2022-01-01
0   GOOG  124.315950    20.0  2022-10-01
1   GOOG  124.579100    20.0  2022-09-01
2   GOOG  124.360950    20.0  2022-08-01
3   GOOG  123.283150    20.0  2022-07-01
4   GOOG  121.853000    20.0  2022-06-01
5   GOOG  120.436900    20.0  2022-05-01
6   GOOG  118.408950    20.0  2022-04-01
7   GOOG  116.746075    20.0  2022-03-01
8   GOOG  113.471000    20.0  2022-02-01
9   GOOG  110.260475    20.0  2022-01-01
0   AMZN  148.553225    20.0  2022-10-01
1   AMZN  151.115050    20.0  2022-09-01
2   AMZN  153.480550    20.0  2022-08-01
3   AMZN  155.284375    20.0  2022-07-01
4   AMZN  156.456975    20.0  2022-06-01
5   AMZN  158.736850    20.0  2022-05-01
6   AMZN  160.598200    20.0  2022-04-01
7   AMZN  163.011525    20.0  2022-03-01
8   AMZN  162.773350    20.0  2022-02-01
9   AMZN  161.992250    20.0  2022-01-01

In [16]:
dummysd = dummysd20.merge(dummysd50,on="ticker", how="outer")
print(dummysd)

    ticker   value_x  window_x     dates_x   value_y  window_y     dates_y
0     AAPL  144.5970      20.0  2022-10-28  151.8002      50.0  2022-10-28
1     AAPL  144.5970      20.0  2022-10-28  152.1684      50.0  2022-10-27
2     AAPL  144.5970      20.0  2022-10-28  152.7634      50.0  2022-10-26
3     AAPL  144.5970      20.0  2022-10-28  153.2370      50.0  2022-10-25
4     AAPL  144.5970      20.0  2022-10-28  153.6540      50.0  2022-10-24
..     ...       ...       ...         ...       ...       ...         ...
295   AMZN  115.5985      20.0  2022-10-17  124.5274      50.0  2022-10-21
296   AMZN  115.5985      20.0  2022-10-17  124.9538      50.0  2022-10-20
297   AMZN  115.5985      20.0  2022-10-17  125.5026      50.0  2022-10-19
298   AMZN  115.5985      20.0  2022-10-17  125.9578      50.0  2022-10-18
299   AMZN  115.5985      20.0  2022-10-17  126.4188      50.0  2022-10-17

[300 rows x 7 columns]

In [17]:
dummysm = dummysm20.merge(dummysm50,on="ticker", how="outer")
print(dummysm)

    ticker    value_x  window_x     dates_x    value_y  window_y     dates_y
0     AAPL  150.92150      20.0  2022-10-01  105.43335      50.0  2022-10-01
1     AAPL  150.92150      20.0  2022-10-01  103.45670      50.0  2022-09-01
2     AAPL  150.92150      20.0  2022-10-01  101.64415      50.0  2022-08-01
3     AAPL  150.92150      20.0  2022-10-01   99.42530      50.0  2022-07-01
4     AAPL  150.92150      20.0  2022-10-01   97.10945      50.0  2022-06-01
..     ...        ...       ...         ...        ...       ...         ...
295   AMZN  161.99225      20.0  2022-01-01  123.79415      50.0  2022-05-01
296   AMZN  161.99225      20.0  2022-01-01  122.83730      50.0  2022-04-01
297   AMZN  161.99225      20.0  2022-01-01  121.86412      50.0  2022-03-01
298   AMZN  161.99225      20.0  2022-01-01  120.05506      50.0  2022-02-01
299   AMZN  161.99225      20.0  2022-01-01  118.15327      50.0  2022-01-01

[300 rows x 7 columns]

In [31]:
dummydchart = dummyd.merge(dummysd,on="ticker", how="outer")
print(dummydchart)

      ticker   close       dates   value_x  window_x     dates_x   value_y  \
0       AAPL  21.305  2012-11-01  144.5970      20.0  2022-10-28  151.8002
1       AAPL  21.305  2012-11-01  144.5970      20.0  2022-10-28  152.1684
2       AAPL  21.305  2012-11-01  144.5970      20.0  2022-10-28  152.7634
3       AAPL  21.305  2012-11-01  144.5970      20.0  2022-10-28  153.2370
4       AAPL  21.305  2012-11-01  144.5970      20.0  2022-10-28  153.6540
...      ...     ...         ...       ...       ...         ...       ...
35995   AMZN  13.735  2013-04-25  115.5985      20.0  2022-10-17  124.5274
35996   AMZN  13.735  2013-04-25  115.5985      20.0  2022-10-17  124.9538
35997   AMZN  13.735  2013-04-25  115.5985      20.0  2022-10-17  125.5026
35998   AMZN  13.735  2013-04-25  115.5985      20.0  2022-10-17  125.9578
35999   AMZN  13.735  2013-04-25  115.5985      20.0  2022-10-17  126.4188

       window_y     dates_y
0          50.0  2022-10-28
1          50.0  2022-10-27
2          50.0  2022-10-26
3          50.0  2022-10-25
4          50.0  2022-10-24
...         ...         ...
35995      50.0  2022-10-21
35996      50.0  2022-10-20
35997      50.0  2022-10-19
35998      50.0  2022-10-18
35999      50.0  2022-10-17

[36000 rows x 9 columns]

In [33]:
dummymchart = dummym.merge(dummysm,on="ticker", how="outer")
print(dummymchart)

     ticker    close       dates    value_x  window_x     dates_x    value_y  \
0      AAPL  20.9029  2012-11-01  150.92150      20.0  2022-10-01  105.43335
1      AAPL  20.9029  2012-11-01  150.92150      20.0  2022-10-01  103.45670
2      AAPL  20.9029  2012-11-01  150.92150      20.0  2022-10-01  101.64415
3      AAPL  20.9029  2012-11-01  150.92150      20.0  2022-10-01   99.42530
4      AAPL  20.9029  2012-11-01  150.92150      20.0  2022-10-01   97.10945
...     ...      ...         ...        ...       ...         ...        ...
1795   AMZN  13.7350  2013-04-01  161.99225      20.0  2022-01-01  123.79415
1796   AMZN  13.7350  2013-04-01  161.99225      20.0  2022-01-01  122.83730
1797   AMZN  13.7350  2013-04-01  161.99225      20.0  2022-01-01  121.86412
1798   AMZN  13.7350  2013-04-01  161.99225      20.0  2022-01-01  120.05506
1799   AMZN  13.7350  2013-04-01  161.99225      20.0  2022-01-01  118.15327

      window_y     dates_y
0         50.0  2022-10-01
1         50.0  2022-09-01
2         50.0  2022-08-01
3         50.0  2022-07-01
4         50.0  2022-06-01
...        ...         ...
1795      50.0  2022-05-01
1796      50.0  2022-04-01
1797      50.0  2022-03-01
1798      50.0  2022-02-01
1799      50.0  2022-01-01

[1800 rows x 9 columns]

In [41]:
# now have dataframes for each line to plot

dc = dummydchart[["ticker", "close", "dates"]].copy()
dc_aapl = dc.loc[dc["ticker"]=="AAPL"]
dc_goog = dc.loc[dc["ticker"]=="GOOG"]
dc_amzn = dc.loc[dc["ticker"]=="AMZN"]

dc20 = dummydchart[["ticker", "value_x", "dates_x"]].copy()
dc20_aapl = dc20.loc[dc20["ticker"]=="AAPL"] 
dc20_goog = dc20.loc[dc20["ticker"]=="GOOG"]
dc20_amzn = dc20.loc[dc20["ticker"]=="AMZN"]

dc50 = dummydchart[["ticker", "value_y", "dates_y"]].copy()
dc50_aapl = dc50.loc[dc50["ticker"]=="AAPL"] 
dc50_goog = dc50.loc[dc50["ticker"]=="GOOG"]
dc50_amzn = dc50.loc[dc50["ticker"]=="AMZN"]
 
mc = dummymchart[["ticker", "close", "dates"]].copy()
mc_aapl = mc.loc[mc["ticker"]=="AAPL"] 
mc_goog = mc.loc[mc["ticker"]=="GOOG"]
mc_amzn = mc.loc[mc["ticker"]=="AMZN"]
 
mc20 = dummymchart[["ticker", "value_x", "dates_x"]].copy()
mc20_aapl = mc20.loc[mc["ticker"]=="AAPL"] 
mc20_goog = mc20.loc[mc["ticker"]=="GOOG"]
mc20_amzn = mc20.loc[mc["ticker"]=="AMZN"]
 
mc50 = dummymchart[["ticker", "value_y", "dates_y"]].copy()
mc50_aapl = mc50.loc[mc["ticker"]=="AAPL"] 
mc50_goog = mc50.loc[mc["ticker"]=="GOOG"]
mc50_amzn = mc50.loc[mc["ticker"]=="AMZN"]