In [36]:
# Dependencies
# Note had to run pip install poloygon-api-client
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt

from pprint import pprint
from datetime import date, datetime, timedelta
import time
import datetime
from dateutil.parser import parse


from config import api_key 
 
api_key

'owRulsaHUpxZM4Mg9HaYJ_wDFqLUioOX'

In [37]:

#Get summary information on each company

count = 1
while count < 4:
       
   
    if count == 1:
        name = "AAPL"
               
    elif count == 2:
        name = "GOOG"
                
    elif count == 3:
        name = "AMZN"
        
        
    
    
    url= f"https://api.polygon.io/v3/reference/tickers/{name}?apiKey={api_key}"
    print(url)
    #print(requests.get(url).json())
    
    response = requests.get(url).json() 
            
    print(json.dumps(response,indent=4))
     

    
    #print(response["results"]["description"])
    #print('------------------------------------')
    
    count+=1

https://api.polygon.io/v3/reference/tickers/AAPL?apiKey=owRulsaHUpxZM4Mg9HaYJ_wDFqLUioOX
{
    "results": {
        "ticker": "AAPL",
        "name": "Apple Inc.",
        "market": "stocks",
        "locale": "us",
        "primary_exchange": "XNAS",
        "type": "CS",
        "active": true,
        "currency_name": "usd",
        "cik": "0000320193",
        "composite_figi": "BBG000B9XRY4",
        "share_class_figi": "BBG001S5N8V8",
        "market_cap": 2327044889600,
        "phone_number": "(408) 996-1010",
        "address": {
            "address1": "ONE APPLE PARK WAY",
            "city": "CUPERTINO",
            "state": "CA",
            "postal_code": "95014"
        },
        "description": "Apple designs a wide variety of consumer electronic devices, including smartphones (iPhone), tablets (iPad), PCs (Mac), smartwatches (Apple Watch), AirPods, and TV boxes (Apple TV), among others. The iPhone makes up the majority of Apple's total revenue. In addition, Apple offers its customers a variety of services such as Apple Music, iCloud, Apple Care, Apple TV+, Apple Arcade, Apple Card, and Apple Pay, among others. Apple's products run internally developed software and semiconductors, and the firm is well known for its integration of hardware, software and services. Apple's products are distributed online as well as through company-owned stores and third-party retailers. The company generates roughly 40% of its revenue from the Americas, with the remainder earned internationally.",
        "sic_code": "3571",
        "sic_description": "ELECTRONIC COMPUTERS",
        "ticker_root": "AAPL",
        "homepage_url": "https://www.apple.com",
        "total_employees": 154000,
        "list_date": "1980-12-12",
        "branding": {
            "logo_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFwcGxlLmNvbQ/images/2022-10-01_logo.svg",
            "icon_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFwcGxlLmNvbQ/images/2022-10-01_icon.png"
        },
        "share_class_shares_outstanding": 16070750000,
        "weighted_shares_outstanding": 16070752000,
        "round_lot": 100
    },
    "status": "OK",
    "request_id": "02c50df9532226390cc9fbf5b8c966bf"
}
https://api.polygon.io/v3/reference/tickers/GOOG?apiKey=owRulsaHUpxZM4Mg9HaYJ_wDFqLUioOX
{
    "results": {
        "ticker": "GOOG",
        "name": "Alphabet Inc. Class C Capital Stock",
        "market": "stocks",
        "locale": "us",
        "primary_exchange": "XNAS",
        "type": "CS",
        "active": true,
        "currency_name": "usd",
        "cik": "0001652044",
        "composite_figi": "BBG009S3NB30",
        "share_class_figi": "BBG009S3NB21",
        "market_cap": 1198521800000,
        "phone_number": "650-253-0000",
        "address": {
            "address1": "1600 AMPHITHEATRE PARKWAY",
            "city": "MOUNTAIN VIEW",
            "state": "CA",
            "postal_code": "94043"
        },
        "description": "Alphabet is a holding company. Internet media giant Google is a wholly owned subsidiary. Google generates 99% of Alphabet revenue, of which more than 85% is from online ads. Google's other revenue is from sales of apps and content on Google Play and YouTube, as well as cloud service fees and other licensing revenue. Sales of hardware such as Chromebooks, the Pixel smartphone, and smart home products, which include Nest and Google Home, also contribute to other revenue. Alphabet's moonshot investments are in its other bets segment, where it bets on technology to enhance health (Verily), faster internet access to homes (Google Fiber), self-driving cars (Waymo), and more. Alphabet's operating margin has been 25%-30%, with Google at 30% and other bets operating at a loss.",
        "sic_code": "7370",
        "sic_description": "SERVICES-COMPUTER PROGRAMMING, DATA PROCESSING, ETC.",
        "ticker_root": "GOOG",
        "homepage_url": "https://www.abc.xyz",
        "total_employees": 186779,
        "list_date": "2004-08-19",
        "branding": {
            "logo_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFiYy54eXo/images/2022-10-01_logo.svg",
            "icon_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFiYy54eXo/images/2022-10-01_icon.png"
        },
        "share_class_shares_outstanding": 6163000000,
        "weighted_shares_outstanding": 12943000000,
        "round_lot": 100
    },
    "status": "OK",
    "request_id": "e3e75bb961ea5f8943190356b75a2483"
}
https://api.polygon.io/v3/reference/tickers/AMZN?apiKey=owRulsaHUpxZM4Mg9HaYJ_wDFqLUioOX
{
    "results": {
        "ticker": "AMZN",
        "name": "Amazon.Com Inc",
        "market": "stocks",
        "locale": "us",
        "primary_exchange": "XNAS",
        "type": "CS",
        "active": true,
        "currency_name": "usd",
        "cik": "0001018724",
        "composite_figi": "BBG000BVPV84",
        "share_class_figi": "BBG001S5PQL7",
        "market_cap": 1130411082605.28,
        "phone_number": "(206) 266-1000",
        "address": {
            "address1": "410 TERRY AVENUE NORTH",
            "city": "SEATTLE",
            "state": "WA",
            "postal_code": "98109"
        },
        "description": "Amazon is a leading online retailer and one of the highest-grossing e-commerce aggregators, with $386 billion in net sales and approximately $578 billion in estimated physical/digital online gross merchandise volume in 2021. Retail-related revenue represents approximately 80% of the total, followed by Amazon Web Services' cloud computing, storage, database, and other offerings (10%-15%), advertising services (5%), and other. International segments constitute 25%-30% of Amazon's non-AWS sales, led by Germany, the United Kingdom, and Japan.",
        "sic_code": "5961",
        "sic_description": "RETAIL-CATALOG & MAIL-ORDER HOUSES",
        "ticker_root": "AMZN",
        "homepage_url": "https://www.amazon.com",
        "total_employees": 1608000,
        "list_date": "1997-05-15",
        "branding": {
            "logo_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFtYXpvbi5jb20/images/2022-10-01_logo.svg",
            "icon_url": "https://api.polygon.io/v1/reference/company-branding/d3d3LmFtYXpvbi5jb20/images/2022-10-01_icon.jpeg"
        },
        "share_class_shares_outstanding": 10187560000,
        "weighted_shares_outstanding": 10187554818,
        "round_lot": 100
    },
    "status": "OK",
    "request_id": "2be92bde0d6407750a317885339c92aa"
}

In [38]:
tickers = ["AAPL", "GOOG", "AMZN"]
dummy = pd.DataFrame(columns = ["ticker", "o", "c", "t"])
for name in tickers:
    url = f"https://api.polygon.io/v2/aggs/ticker/{name}/range/1/day/2013-01-01/2022-10-22?adjusted=true&sort=asc&limit=120&apiKey={api_key}"
    response = requests.get(url).json()
    datadata = pd.json_normalize(response["results"])
    datadata["ticker"] = name
    datadata = datadata[["ticker", "o", "c", "t"]]
    dummy = pd.concat([dummy, datadata])
dummy.columns = ["ticker", "open", "close", "date"]
print(dummy)

    ticker     open    close           date
0     AAPL  19.7793  19.6082  1357102800000
1     AAPL  19.5671  19.3606  1357189200000
2     AAPL  19.1773  18.8214  1357275600000
3     AAPL  18.6429  18.7107  1357534800000
4     AAPL  18.9004  18.7611  1357621200000
..     ...      ...      ...            ...
115   AMZN  13.9540  14.0880  1371528000000
116   AMZN  14.0630  13.9080  1371614400000
117   AMZN  13.7570  13.6720  1371700800000
118   AMZN  13.7285  13.6680  1371787200000
119   AMZN  13.5645  13.5305  1372046400000

[360 rows x 4 columns]

In [39]:
dummy2 = dummy[["ticker", "open", "close", "date"]].copy()
print(dummy2)

    ticker     open    close           date
0     AAPL  19.7793  19.6082  1357102800000
1     AAPL  19.5671  19.3606  1357189200000
2     AAPL  19.1773  18.8214  1357275600000
3     AAPL  18.6429  18.7107  1357534800000
4     AAPL  18.9004  18.7611  1357621200000
..     ...      ...      ...            ...
115   AMZN  13.9540  14.0880  1371528000000
116   AMZN  14.0630  13.9080  1371614400000
117   AMZN  13.7570  13.6720  1371700800000
118   AMZN  13.7285  13.6680  1371787200000
119   AMZN  13.5645  13.5305  1372046400000

[360 rows x 4 columns]

In [40]:
from datetime import datetime
ts = int("1357102800000")/1000
print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

2013-01-02 05:00:00

In [49]:
#datetime.utcfromtimestamp(1357102800)

#just to define timestamp but then current date
#timestamp = pd.Timestamp(datetime.datetime(2022,10,10))
#res = timestamp.today()
#print(res)
#del dummy["ourdate"]

#dummy.insert(4, "ourdate" , res)
#dummy.head()

dummy2["date"] = pd.to_datetime(dummy2["date"], unit = "ms")
     
print(dummy2)

    ticker     open    close                date       dates  \
0     AAPL  19.7793  19.6082 2013-01-02 05:00:00  2013-01-02
1     AAPL  19.5671  19.3606 2013-01-03 05:00:00  2013-01-03
2     AAPL  19.1773  18.8214 2013-01-04 05:00:00  2013-01-04
3     AAPL  18.6429  18.7107 2013-01-07 05:00:00  2013-01-07
4     AAPL  18.9004  18.7611 2013-01-08 05:00:00  2013-01-08
..     ...      ...      ...                 ...         ...
115   AMZN  13.9540  14.0880 2013-06-18 04:00:00  2013-06-18
116   AMZN  14.0630  13.9080 2013-06-19 04:00:00  2013-06-19
117   AMZN  13.7570  13.6720 2013-06-20 04:00:00  2013-06-20
118   AMZN  13.7285  13.6680 2013-06-21 04:00:00  2013-06-21
119   AMZN  13.5645  13.5305 2013-06-24 04:00:00  2013-06-24

                  hours      time
0   2013-01-02 05:00:00  05:00:00
1   2013-01-03 05:00:00  05:00:00
2   2013-01-04 05:00:00  05:00:00
3   2013-01-07 05:00:00  05:00:00
4   2013-01-08 05:00:00  05:00:00
..                  ...       ...
115 2013-06-18 04:00:00  04:00:00
116 2013-06-19 04:00:00  04:00:00
117 2013-06-20 04:00:00  04:00:00
118 2013-06-21 04:00:00  04:00:00
119 2013-06-24 04:00:00  04:00:00

[360 rows x 7 columns]

In [52]:
#pip install python-dateutil
#from dateutil.parser import parse

#dummy2.info()
#dummy2.dtypes
#print(dummy2.date)
#dummy2["dates"] = pd.to_datetime(dummy2["date"], format="%Y:%M:%d")
dummy2["dates"] = dummy2["date"].dt.date
dummy2["time"] = dummy2["date"].dt.time
#dummy2.drop("hours", axis=1, inplace=True)
print(dummy2)

    ticker     open    close                date       dates      time
0     AAPL  19.7793  19.6082 2013-01-02 05:00:00  2013-01-02  05:00:00
1     AAPL  19.5671  19.3606 2013-01-03 05:00:00  2013-01-03  05:00:00
2     AAPL  19.1773  18.8214 2013-01-04 05:00:00  2013-01-04  05:00:00
3     AAPL  18.6429  18.7107 2013-01-07 05:00:00  2013-01-07  05:00:00
4     AAPL  18.9004  18.7611 2013-01-08 05:00:00  2013-01-08  05:00:00
..     ...      ...      ...                 ...         ...       ...
115   AMZN  13.9540  14.0880 2013-06-18 04:00:00  2013-06-18  04:00:00
116   AMZN  14.0630  13.9080 2013-06-19 04:00:00  2013-06-19  04:00:00
117   AMZN  13.7570  13.6720 2013-06-20 04:00:00  2013-06-20  04:00:00
118   AMZN  13.7285  13.6680 2013-06-21 04:00:00  2013-06-21  04:00:00
119   AMZN  13.5645  13.5305 2013-06-24 04:00:00  2013-06-24  04:00:00

[360 rows x 6 columns]